<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/default.css">
    <link rel="stylesheet" href="/stylesheets/viewprofile.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <title>Profile</title>
</head>

<body>
    <a href="/dashboard" class='btn' id='register'>Dashboard</a>
    <a href="/logout" id='login'>Logout</a>


    <div class="mainHolder">
        <div class="topSection">
            <div id='parent'>
                <img src="<%= (user.profileImg) ? user.profileImg : img%>" alt="" id="preview" width=300 height=300 />
            </div>
            <div class="column">
                <div class="row2Column">
                    <h1 id='first'>
                        <%=user.firstName%>
                    </h1>
                    <h1>
                        <%=user.lastName%>
                    </h1>
                </div>

                <div class="socialMediaHolder">
                    <% if (user.instagramLink && user.instagramLink !='link your instagram' ) { %>
                        <div class="row alignCenter socialDiv instagramDiv">
                            <img src="/images/ig.png" alt="facebook" class='social'>
                            <h6 class="socialInput" id="instagram">
                                <%= user.instagramLink%>
                            </h6>
                        </div>
                        <% } %>
                            <% if (user.facebookLink && user.facebookLink !='link your facebook' ) { %>
                                <div class="row alignCenter socialDiv facebookDiv">
                                    <img src="/images/fb.png" alt="facebook" class="social">
                                    <h6 class="socialInput" id="facebook">
                                        <%=user.facebookLink%>
                                    </h6>
                                </div>
                                <% } %>
                </div>
            </div>
        </div>
        <div class="column w100">
            <h2 class="inputLabel">Biography</h2>
            <h6 id="description" cols="8" rows="3" class="input1">
                <%= (user.profileBio) ? user.profileBio : 'Share about your sports interests.' %>
            </h6>
        </div>
        <div class="cityAge w100 m">
            <% if (user.mainLocation && user.mainLocation !='What city do you live in?' ) { %>
                <div class="inputRow">
                    <h2 class="inputLabel mr">City:</h2>
                    <h6 class="input1 pr" id="location">
                        <%=user.mainLocation %>
                    </h6>
                </div>
                <% } %>
                    <% if (user.age && user.age !='00' ) { %>
                        <div class="inputRow">
                            <h2 class="inputLabel mr">Age:</h2>
                            <h6 class="input1 pr" id="age">
                                <%= user.age %>
                            </h6>
                        </div>
                        <% } %>
                            <% if (user.publicSocials==false) { %>

                                <%}else { %>
                                    <div class="row">
                                        <h2 class="inputLabel mr">Number:</h2>
                                        <h6 class="input1 pr">
                                            <%=user.phoneNumber%>
                                        </h6>
                                    </div>
                                    <% } %>

        </div>
    </div>

</body>

</html>